<br><br>
<mat-tab-group style="background-color: #263238">
    <mat-tab label="Planning">
        <mat-tab-group style="background-color: #37474f">
            <mat-tab label="Create PMR">
                <app-create-pmr></app-create-pmr>
            </mat-tab>
            <mat-tab label="Push PMR">
                <app-create-pmr></app-create-pmr>
            </mat-tab>
            <mat-tab label="WGS Laydown">
                <app-create-pmr></app-create-pmr>
            </mat-tab>
        </mat-tab-group>
    </mat-tab>
    <mat-tab label="KMS/KLIF"> KMS/KLIF content will go here <br>
        <table>
            <th>data</th>
        </table>
    </mat-tab>
    <mat-tab label="Gateway/Hubs"> Gateway/Hubs content will go here <br>
        <table>
            <th>data</th>
        </table>
    </mat-tab>
    <mat-tab label="NMS"> NMS content will go here <br>
        <table>
            <th>data</th>
        </table>
    </mat-tab>
</mat-tab-group>