<a [routerLink]="['/']">
  <!-- //NOSONAR --><img alt="ptes patch" style="height: 2.8vw; padding-left: 20px; padding-top: 5px">
</a>

<a style="text-align: center;" [routerLink]="['/']">
  <em style="color: white; font-size: 1.5vw;" class="material-icons">desktop_windows</em>
  <h3 style="font-size: 12px;">Main Display</h3>
</a>

<a style="text-align: center;" [routerLink]="['/']">
  <!-- //NOSONAR --><img alt="network state" style="height: 1.5vw;">
  <h3 style="font-size: 12px;">Network</h3>
</a>

<a style="text-align: center;" [routerLink]="['/']">
  <!-- //NOSONAR --><img alt="warning normal" style="height: 1.5vw;">
  <h3 style="font-size: 12px;">Warnings</h3>
</a>

<a style="text-align: center;" [routerLink]="['/']">
  <!-- //NOSONAR --><img alt="alarm normal" style="height: 1.5vw; color: white;">
  <h3 style="font-size: 12px;">Alarms</h3>
</a>

<app-date></app-date>

<a style="text-align: center;" [routerLink]="['/']">
  <!-- //NOSONAR --><img alt="logged in" style="height: 1.5vw;">
  <h3 style="font-size: 12px;">Planner</h3>
</a>

<a style="text-align: center;" [routerLink]="['/']">
  <!-- //NOSONAR --><img alt="toolbox enabled" style="height: 1.5vw;">
  <h3 style="font-size: 12px;">Tools</h3>
</a>

<a style="text-align: center;" [routerLink]="['/']">
  <!-- //NOSONAR --><img alt="config enabled" style="height: 1.5vw;">
  <h3 style="font-size: 12px;">Settings</h3>
</a>

<a style="text-align: center;" [routerLink]="['/']">
  <h1><em style="color: white; font-size: 2vw; padding: 0.5vw 4vw 0 0" class="material-icons">info</em></h1>
</a>
  
  